/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Sep 5, 2018, 11:17:33 AM
    Author     : ricardochavez
*/

#clipboard { display : none; }
.kanban-board-render .kanban-list .ms-list-wide { box-shadow : unset; transform: none; }
.ms-list-wide__frame-top, .kanban-items.ms-hack-scrollbar { padding: 0px 10px; }
div.kanban-lists div.kanban-items div.kb-row-v2 div.kb-row-v2_info.cl_email span{ -webkit-user-select: text; user-select : text; }

.cl_filter { display: flex; flex-wrap: wrap; justify-content: flex-start; margin: 15px; padding: 15px; background-color: #FCFCFC; border: 1px solid #e6e8ec;}
.cl_filter .cl_filter_left-panel{ display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-around; align-items: stretch; align-content: flex-start;}
.cl_filter .cl_filter_right-panel{ display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-around; align-items: stretch; align-content: flex-start; }
.cl_filter .cl_filter-btn { background-color: #1e5c86; border: 1px solid #cbcbcb; color: #ffffff; display: flex; padding: 4px; flex-direction: column; flex-wrap: nowrap; justify-content: flex-start; align-items: center; align-content: stretch; border-radius: 20px !important; font-size: 15px; font-weight: bold; cursor: pointer; flex-direction: row; justify-content: center;}
.cl_filter .cl_filter_left-row {  display: flex; flex-wrap: nowrap; justify-content: flex-start; align-items: stretch; align-content: flex-start; padding: 10px; }
.cl_filter .cl_filter_left-row.toggleFields_hide { display: none;}
.cl_filter .cl_filter_left-row .cl_filter_left-row_select {  display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-between; align-items: stretch; align-content: stretch; }
.cl_filter .cl_filter_left-row .cl_filter_left-row_select span{ font-weight: 300; color: #17689b; }
.cl_filter .cl_filter_left-row .cl_filter_left-row_select select { color: #17689b; }
.cl_filter .cl_filter_left-row .cl_filter_left-row_input-text { display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: center; align-content: stretch; }
.cl_filter .cl_filter_left-row .cl_filter_left-row_input-text span { width: 20px; color: #1e5c85; font-weight: 700; align-items: center; justify-items: center; display: flex; margin-right: 10px; }
.cl_filter .cl_filter_left-row .cl_filter_left-row_input-text input { margin: 0; line-height: 1.8em; color: #17689b; font-size: 14px; box-sizing: border-box; text-align: left; border: 1px solid #cbcbcb; border-radius: 4px !important; box-shadow: none; font-family: Open Sans, sans-serif; -webkit-box-shadow: none; width: 100%; height: 35px; }
.cl_filter .cl_filter_left-row .cl_filter_left-row_input-text input.show-icon_enter-text { background: url(../../../../images/keyboard-enter-text.svg) no-repeat scroll 98% 0px; }
.cl_filter .cl_filter_left-row .cl_filter_left-row_period {  display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-between; align-items: stretch; align-content: flex-start; }
.cl_filter .cl_filter_left-row .cl_filter_left-row_period input {  margin: 0; line-height: 1.8em; color: #17689b; font-size: 14px; box-sizing: border-box; text-align: left; border: 1px solid #cbcbcb; border-radius: 4px !important; box-shadow: none; font-family: Open Sans, sans-serif; -webkit-box-shadow: none; }
.cl_filter .cl_filter_left-row .cl_filter_left-row_period span { font-weight: 300; color: #17689b; }
.cl_filter .cl_filter_left-row .cl_filter_left-row_period .cl_filter_left-row_period-top {  display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-between; align-items: center; align-content: stretch; }
.cl_filter .cl_filter_left-row .cl_filter_left-row_period .cl_filter_left-row_period-bottom {  display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: stretch; align-content: stretch; }
.cl_filter .cl_filter_toggle-btn {  padding-top: 10px; padding-bottom: 10px; cursor: pointer; display: flex; align-items: center; font-weight: 300; color: #17689b; }

/* Desktops */
@media(min-width:1000px) {
    .cl_filter { flex-direction: row; }
    .cl_filter .cl_filter_left-panel { width: 85%; }
    .cl_filter .cl_filter_right-panel { width: 15%; }
    .cl_filter .cl_filter_left-row { flex-direction: row; }
    .cl_filter .cl_filter_left-row .cl_filter_left-row_input-text { width: 30%; }
    .cl_filter .cl_filter_left-row .cl_filter_left-row_select { width: 15%; }
    .cl_filter .cl_filter_left-row.justify-content_flex-start > div:nth-child(1) { margin-right: 10%; }
    .cl_filter .cl_filter_left-row .cl_filter_left-row_period { width: 30%; }
    .kb-row-v2_bottom .ins_row { width: 95%; flex-direction: row; }
}

/* Smartphones */
@media(max-width:1000px) {
    .cl_filter { flex-direction: column; }
    .cl_filter .cl_filter_left-panel { width : 100%; }
    .cl_filter .cl_filter_right-panel { width: 100%; margin-top: 15px; }
    .cl_filter .cl_filter_left-row { flex-direction: column; }
    .cl_filter .cl_filter_left-row .cl_filter_left-row_input-text { width: 100%; padding: 15px 0px; }
    .cl_filter .cl_filter_left-row .cl_filter_left-row_select { width: 100%; padding: 5px 0px; }
    .cl_filter .cl_filter_left-row .cl_filter_left-row_period { width: 100%; }
    .cl_filter .cl_filter_left-row .cl_filter_left-row_period .cl_filter_left-row_period-top { padding-bottom: 10px; }
    .cl_filter .cl_filter_left-panel .cl_filter_left-row.justify-content_flex-start:nth-child(2n) { flex-direction: column-reverse; }
    .kb-row-v2_bottom .ins_row {  white-space: nowrap; overflow: auto; place-content: stretch flex-start!important;  flex-direction: column; width: 100%; }
    div.kanban-lists div.kanban-items div.kb-row-v2 div.kb-row-v2_top__sub-right.toggleIActions {  padding: 20px 0px; margin-top: 25px; }
}

div.kanban-lists div.kanban-items div.kb-row-v2 div.kb-row-v2_top__sub-right.toggleIActions { display: flex; }
.kb-row-v2_bottom .ins_row { display: flex; flex-wrap: nowrap; justify-content: space-around; align-items: stretch; align-content: stretch; border-bottom: 2px solid #e6e8ec; background-color: #fff; box-shadow: 0 1px 8px 0 rgba(0,0,0,0.15); transform: translateZ(0); margin-bottom: 7px; padding: 10px 0px; }
.row-double-line{ background-color: #00BCD4; display: grid; justify-content: space-between; align-items: center; box-sizing: border-box; padding: 0 10px; cursor: pointer; transition: all 0.5s ease; border-radius: 100px !important; }
.row-double-line .row-double-line_font{  color: #fff !important; font-weight: 600 !important; font-size: 12px !important; line-height: 21px !important; }